body {
  color: var(--fgMaster);
  background-color: var(--bgMaster);
}

:root {
  --bgMaster: #222;
  --bgSlave: #777;
  --fgMaster: #ccc;
  --fgSlave: #f50057;
}

// bootstrap theming can't handle css variables properly
.MuiFormControl-root {
  legend,
  label {
    color: var(--bgSlave);

    svg {
      filter: invert(1);
    }
  }

  .Mui-checked~span {
    color: var(--fgMaster);
  }

  input {
    color: var(--fgMaster);
  }

  .MuiInput-underline:before {
    border-color: var(--bgSlave);
  }
}
